{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'images/css/styleuser.css' %}"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    
</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="user_details">
                    <div class="input-box">
                        <label>User Name: </label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="input-box">
                        <label>E-Mail ID: </label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="input-box">
                        <label>Password: </label>
                        <input type="password" name="password" required>
                    </div>
                    <div class="input-box">
                        <label>Confirm Password: </label>
                        <input type="password" name="confirmpassword" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Sign Up">
                </div>
            </form>
            <div>
    {% for message in messages %}
    <script>
        alert('{{message}}');
    </script>
    {% endfor %}
            </div>
        </div>
        
    </div>
</body>
</html>
